.sign-in-container {
  display: grid;
  place-items: center;
  height: 40vh;
  width: 20vw;
  .sbb-form-field {
    width: 20vw;
    display: grid;
    place-items: center;
    input {
      width: 19vw;
      border-radius: 10px;
    }
  }
  .sbb-checkbox {
    margin-left: 0.8vw;
  }
}
